/* animation */
.blink {
  animation: blink 5s infinite;
  -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.fadeOut,.fadeIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* layout*/
body {
	font-size:16px;
	font-family: 'Homemade Apple',cursive;
	line-height:44px;
	background:#0c1835;
}

h1{
	font-weight:normal;
	display:block;
	color:#79d1b8;
	text-align:center;
	word-spacing: 4px;
}
a {
	text-decoration: none;
}

.controller,
.open {
	position:absolute;
	top:40px;
	left:40px;
	color:#f2f2f2;
}
.open {
	z-index:5;
	width:300px;
}
.controller{
	z-index:10;
	color:#79d1b8;
	cursor:pointer;
}
.controller li {
	float:left;
	display:block;
	margin-right:10px;
}

#map {
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	z-index:0;
}

.leaflet-container p {
	font-size:20px;
	font-family: 'Crimson Text',serif;
	font-style:italic;
	line-height:28px;
}
.leaflet-popup-content-wrapper {
	background:transparent;
	box-shadow:none;
}
.leaflet-popup-content {
	font-family: 'Homemade Apple',cursive;
	background:#0c1835;
}
.leaflet-popup-content .story {
	width:400px;
	padding:20px;
	color:#fff;
}
.leaflet-popup-tip {
	border:0;
}
