body {
	background:#0c1835;
	z-index:-999;
}

div, span, a {
	color:#fff;
}

a {
	text-decoration: none;
}

li a:hover,li a.active {
	font-weight:bold;
}

.wax-tooltip, .towns, .newport-story, .bandon-story, .beach-story, .flickr {
	font-family: 'Nixie One',cursive;
}

.title, .open, #proceed, #flickr-click, #oh, #c1, #c2, #c3, #c4  {
	font-family: 'Homemade Apple',cursive;
	
}

.newport-story, .bandon-story, .beach-story, .flickr {
	font-weight:light;
}


#topbar, .towns, a.zoomdisabled, .newport-story, .bandon-story, .beach-story, .flickr {
	display:none;
}

a.zoomer, .wax-tooltip, .towns ul li a, #proceed, #flickr-click, .linked-pictures img {
	border-radius:3px;
}

#map {
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	z-index:-1;
}

#topbar {
	position:absolute;
	width:100%;
	background:rgba(163,129,81,0.7);
	-webkit-box-shadow: 0px 3px 5px rgba(163,129,81,0.7);
	-moz-box-shadow:    0px 3px 5px rgba(163,129,81,0.7);
	box-shadow:         0px 3px 5px rgba(163,129,81,0.7);
	z-index:1;
}

a.zoomer {
	bottom: 20px;
	margin-left:25px;
	background:rgba(255,255,255,0.5);
	color:#0b1836;
  }

  a.zoomin {
    left:5px;
    }

  a.zoomout {
    left:35px;
    }

.wax-tooltip {
	padding:12px;
	background:rgba(11,24,54,0.4);
	font-size:16px;
	color:#0b1936;
	display:block;
}

.title {
	margin-left:10%;
	padding-top:2%;
	font-size:44px;
}

.title span.small {
	padding:12px;
	font-size: 32px;
}

.story-container {
	position:absolute;
	width:340px;
	height:460px;
	margin-top:16%;
	margin-left:10%;
}


.towns ul li a {
	float:left;
	width:54px;
	height:35px;
  	margin-left:6px;
  	padding-top:15px;
    text-align:center;
    font-size:0px;
    border:dashed 1px rgba(255,255,255,0.8);
  	-moz-box-shadow:inset 0 0 1px #000;
	-webkit-box-shadow:inset 0 0 1px #000;
	box-shadow: inner 0 0 1px #000;
  	transition:width 0.1s ease-in-out;
	-moz-transition:width 0.1s ease-in-out; /* Firefox 4 */
	-webkit-transition:width 0.1s ease-in-out; /* Safari and Chrome */
	-o-transition:width 0.1s ease-in-out; /* Opera */
}

#newport {
	margin-left:0px;
}

#beach {
    padding-top:10px;
    padding-bottom:5px;
}


.towns ul li a:hover {
	width:120px;
	font-size:16px;
}

.towns ul li a.active {
    width:120px;
    height:37px;
	font-size:16px;
    background: #79d1b8;
    color:#0b1836;
    border:none;
}

.active span {
	color:#0b1836;
}

.towns ul li a.active.hover {
    width:54px;
    font-size:0px;
}



.open {
	position:absolute;
	margin-left:10%;
	line-height:66px;
	width:50%;
	margin-top:10%;
	font-size:32px;
}

#proceed{
	position:absolute;
	line-height:44px;
	margin-top:2%;
	margin-left:85%;
	padding:0px 8px 0px 8px;
	font-size:44px;
	background: rgba(255,255,255,0.6);
}

#proceed a {
 	color:#0b1936;
}

#proceed a:hover {
 	color:#fff !important;
}

.newport-story, .bandon-story, .beach-story, .flickr {
    float:left;
	padding-top:10%;
    line-height:26px;
	font-size: 22px;
	font-weight:light;
	z-index:1;
}

.flickr {
	width:300px;
}

#c1, #c2, #c3, #c4 {
	float:left;
	padding:10px 26px 0px 2px;
	font-size: 48px;
}


#flickr-click {
	width:266px;
	margin-top:8%;
	padding:20px;
	font-size:22px;
	text-align:center;	
}

#flickr-click a {
	color:rgba(255,255,255,0);
	text-shadow:0px 0px 8px #fff;
}

#flickr-click a:hover {
	color:#fff;
	text-shadow:none;
}

#flickr-click.change a {
	color:#fff;
	text-shadow:none;
}

.picture-container ul{
    position:absolute;
	width:40%;
	height:320px;
	margin-top:16%;
    left:35%;
    overflow-y:auto;
}

#sm-pictures img{
	margin-left: 10px;
	margin-bottom:10px;
	float:left;
	border-radius: 2px;
}
